# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Comment=
Encoding=UTF-8
Keywords=
Name=Camera
Name[az]=Kamera
Name[bg]=Камера
Name[ca]=Càmera
Name[ca@valencia]=Càmera
Name[cs]=Fotoaparát
Name[da]=Kamera
Name[de]=Kamera
Name[el]=Κάμερα
Name[en_GB]=Camera
Name[es]=Cámara
Name[et]=Kaamera
Name[eu]=Kamera
Name[fi]=Kamera
Name[fr]=Appareil photo
Name[gl]=Cámara
Name[hu]=Kamera
Name[ia]=Camera
Name[id]=Camera
Name[is]=Myndavél
Name[it]=Camera
Name[ka]=კამერა
Name[ko]=카메라
Name[lt]=Kamera
Name[nl]=Camera
Name[nn]=Kamera
Name[pa]=ਕੈਮਰਾ
Name[pl]=Aparat
Name[pt]=Câmara
Name[pt_BR]=Câmera
Name[ro]=Camera
Name[ru]=Камера
Name[sk]=Fotoaparát
Name[sl]=Camera
Name[sv]=Kamera
Name[tr]=Kamera
Name[uk]=Фотоапарат
Name[x-test]=xxCameraxx
Name[zh_CN]=相机
Name[zh_TW]=相機
GenericName=Camera Application
GenericName[az]=Kamera Tətbiqi
GenericName[bg]=Приложение за камера
GenericName[ca]=Aplicació de càmera
GenericName[ca@valencia]=Aplicació de càmera
GenericName[cs]=Aplikace fotoaparát
GenericName[da]=Kameraprogram
GenericName[de]=Kamera-Anwendung
GenericName[el]=Εφαρμογή κάμερας
GenericName[en_GB]=Camera Application
GenericName[es]=Aplicación de cámara
GenericName[et]=Kaamerarakendus
GenericName[eu]=Kamera aplikazioa
GenericName[fi]=Kamerasovellus
GenericName[fr]=Application de caméra
GenericName[hu]=Kameraalkalmazás
GenericName[ia]=Application de camera
GenericName[id]=Aplikasi Kamera
GenericName[is]=Myndavélarforrit
GenericName[it]=Applicazione fotocamera
GenericName[ka]=კამერის აპლიკაცია
GenericName[ko]=카메라 프로그램
GenericName[lt]=Kameros programa
GenericName[nl]=Camera-toepassing
GenericName[nn]=Kameraprogram
GenericName[pa]=ਕੈਮਰਾ ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Program kamery
GenericName[pt]=Aplicação de Câmara
GenericName[pt_BR]=Aplicativo de câmera
GenericName[ro]=Aplicație pentru cameră
GenericName[ru]=Приложение для работы с камерой
GenericName[sk]=Aplikácia kamery
GenericName[sl]=Aplikacija kamere
GenericName[sv]=Kameraprogram
GenericName[tr]=Kamera Uygulaması
GenericName[uk]=Програма для роботи з фотокамерою
GenericName[x-test]=xxCamera Applicationxx
GenericName[zh_CN]=相机应用
Type=Application
Icon=camera-photo
Exec=plasma-camera
Categories=Qt;KDE;AudioVideo;
