[Desktop Entry]
Comment=
Encoding=UTF-8
Keywords=
Name=Camera
Name[ca]=Càmera
Name[ca@valencia]=Càmera
Name[cs]=Fotoaparát
Name[de]=Kamera
Name[el]=Κάμερα
Name[en_GB]=Camera
Name[es]=Cámara
Name[fi]=Kamera
Name[fr]=Appareil photo
Name[gl]=Cámara
Name[it]=Camera
Name[ko]=카메라
Name[nl]=Camera
Name[nn]=Kamera
Name[pl]=Aparat
Name[pt]=Câmara
Name[pt_BR]=Câmera
Name[ru]=Камера
Name[sk]=Fotoaparát
Name[sv]=Kamera
Name[uk]=Фотоапарат
Name[x-test]=xxCameraxx
Name[zh_TW]=相機
GenericName=Mobile Photos
GenericName[ca]=Fotos del mòbil
GenericName[ca@valencia]=Fotos del mòbil
GenericName[cs]=Mobilní fotografie
GenericName[el]=Φωτογραφίες από κινητό
GenericName[en_GB]=Mobile Photos
GenericName[es]=Fotos del móvil
GenericName[fi]=Mobiilikuvat
GenericName[fr]=Photos mobiles
GenericName[gl]=Fotos móbiles
GenericName[it]=Foto per mobile
GenericName[ko]=모바일 사진
GenericName[nl]=Foto's op mobiel
GenericName[nn]=Mobilfoto
GenericName[pl]=Przenośne zdjęcia
GenericName[pt]=Fotografias do Telemóvel
GenericName[pt_BR]=Fotos do celular
GenericName[ru]=Мобильные фотографии
GenericName[sk]=Mobilné fotky
GenericName[sv]=Mobilfoton
GenericName[uk]=Фотографії з телефону
GenericName[x-test]=xxMobile Photosxx
GenericName[zh_TW]=行動照片
Type=Application
Icon=camera-photo
Exec=plasma-camera
Categories=Qt;KDE;AudioVideo;
