[Desktop Entry]
Comment=
Encoding=UTF-8
Keywords=
Name=Camera
Name[ca]=Càmera
Name[ca@valencia]=Càmera
Name[cs]=Fotoaparát
Name[de]=Kamera
Name[el]=Κάμερα
Name[en_GB]=Camera
Name[es]=Cámara
Name[et]=Kaamera
Name[eu]=Kamera
Name[fi]=Kamera
Name[fr]=Appareil photo
Name[gl]=Cámara
Name[ia]=Camera
Name[it]=Camera
Name[ko]=카메라
Name[lt]=Kamera
Name[nl]=Camera
Name[nn]=Kamera
Name[pl]=Aparat
Name[pt]=Câmara
Name[pt_BR]=Câmera
Name[ro]=Camera
Name[ru]=Камера
Name[sk]=Fotoaparát
Name[sl]=Camera
Name[sv]=Kamera
Name[uk]=Фотоапарат
Name[x-test]=xxCameraxx
Name[zh_TW]=相機
GenericName=Camera Application
GenericName[ca]=Aplicació de càmera
GenericName[ca@valencia]=Aplicació de càmera
GenericName[cs]=Aplikace fotoaparát
GenericName[de]=Kamera-Anwendung
GenericName[el]=Εφαρμογή κάμερας
GenericName[en_GB]=Camera Application
GenericName[es]=Aplicación de cámara
GenericName[eu]=Kamera aplikazioa
GenericName[fi]=Kamerasovellus
GenericName[fr]=Application de caméra
GenericName[it]=Applicazione fotocamera
GenericName[ko]=카메라 프로그램
GenericName[nl]=Camera-toepassing
GenericName[nn]=Kameraprogram
GenericName[pt]=Aplicação de Câmara
GenericName[pt_BR]=Aplicativo de câmera
GenericName[ro]=Aplicație pentru cameră
GenericName[sl]=Aplikacija kamere
GenericName[sv]=Kameraprogram
GenericName[uk]=Програма для роботи з фотокамерою
GenericName[x-test]=xxCamera Applicationxx
Type=Application
Icon=camera-photo
Exec=plasma-camera
Categories=Qt;KDE;AudioVideo;
