[Desktop Entry]
Comment=
Encoding=UTF-8
Keywords=
Name=Camera
Name[ca]=Càmera
Name[es]=Cámara
Name[gl]=Cámara
Name[nl]=Camera
Name[sk]=Fotoaparát
Name[sv]=Kamera
Name[uk]=Фотоапарат
Name[x-test]=xxCameraxx
Type=Application
Icon=camera-photo
Exec=plasma-camera
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
